/*resets*/
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--sneak-black);
}

.title-a{
  font: bold 6.5rem/100% Gilroy, sans-serif;
}

.title-b{
  font: bold 4rem/100% Gilroy, sans-serif;
}

.text-a{
  font: bold 1.25rem/100% Gilroy, sans-serif;
}

.text-b{
  font: normal 1.25rem/100% Gilroy, sans-serif;
}

:root{
  --white: #FFF;
  --gray: #969696;
  --red: #E30613;
  --green: #76CA6F;

  --main-default: #F3F3F3;
  --main-hover: #D2D2D2;
  --main-gradient: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
  
  --sneak-gray: #F2F2F2;
  --sneak-black: #1F1F1F;

  --gradient-1: linear-gradient(270.06deg, #E4E4E4 20.97%, #FFFFFF 99.92%);
  --gradient-2: linear-gradient(277.74deg, #FFE08D 9.16%, #FFB757 91.03%);
  --gradient-3: linear-gradient(270.06deg, #464646 20.97%, #D3D3D3 99.92%);
  --gradient-4: linear-gradient(270.06deg, #232323 20.97%, #000000 99.92%);
}

/*assets*/
.logo{
  text-transform: uppercase;
}

.button-default{
  width: 20.0625rem;
  padding: 1.75rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #1F1F1F;
}

/*wrapper*/
.wrapper{
  width: 100%;
  height: 100%;
  padding: 0 80px;
}

/*header*/
.header{
  width: 100%;
  height: 5.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__ul{
  display: flex;
  gap: 2.625rem;
}

.header__assets{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__search{
  width: 14.6875rem;
  height: 3.25rem;
  padding: 12px 12px 10px 12px;
  gap: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--sneak-gray);
  border-radius: 50px;;
}

.search__input{
  border: 0;
  background: transparent;
  outline: 0;
}

.header__bag{
  width: 3.25rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle();
  background: var(--sneak-gray);
}

/*hero*/
.hero{
  display: flex;
  align-items: center;
  gap: 20rem;
  margin-top: 5.625rem;
}

.hero__text{
  width: 36rem;
  height: auto;
}

.hero__text h1{
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem 0;
}

.hero__text p{
  margin-top: 1.5rem;
}

.hero__text button{
  margin-top: 6.5rem;
}

.hero__image{
  position: relative;
  width: 581px;
  height: 581px;
  top: 0;
}

.hero-circle{
  width: 581px;
  height: 581px;
  clip-path: circle();
  background: var(--main-gradient);
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  transition: all ease-in-out .3s;
}

.hero-sneak{
  position: absolute;
  right: 0;
  transition: all ease-in-out .3s;
}

.hero__image:hover .hero-circle{
  transform: translateX(-40px);
  transition: all ease-in-out .3s;
}

.hero__image:hover .hero-sneak{
  transform: translateX(40px);
  transition: all ease-in-out .3s;
}